Support PQL versioning and deprecation policy

When making requests, send a header to Pilosa that indicates the supported PQL version of the client. The server would verify support, and the response would contain a header indicating the server's supported PQL version, as well as optionally a deprecation warning indicating the client library should be updated. After a deprecation period, the server would respond with an error.

**Update:**

# PQL versioning

The Pilosa server should support PQL versioning using HTTP headers. On each request, the client should send a `Content-Type` header and an `Accept` header. The server should respond with a `Content-Type` header that matches the client `Accept` header. The server should also optionally respond with a `Warning` header if a PQL version is in a deprecation period, or an `HTTP 400` error if a PQL version is no longer supported.

## Client changes

The `Content-Type` header should follow this template:

> `Content-Type: application/vnd.pilosa.pql.v<version>`

Version 1 of PQL should send the following request header:

> `Content-Type: application/vnd.pilosa.pql.v1`

The `Accept` header should follow this template:

> `Accept: application/vnd.pilosa.json.v<version>`

Version 1 of PQL should send the following request header:

> `Accept: application/vnd.pilosa.json.v1`

### Error handling

The client should be designed to read HTTP Warnings and use the appropriate language-specific logging mechanism to report the warning. For example, `log.Println` in Go or `logging.warning` in Python.

The client should also be designed to catch `HTTP 400` errors and handle the error gracefully, logging the error message however appropriate.

## Server Changes

The server should return the `Content-Type` header matching the client's `Accept` header:

> `Content-Type: application/vnd.pilosa.json.v1`

If a PQL version is in a deprecation period, the server responds with a `Warning` header, as defined in RFC7234, Section 5.5.7. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Warning

The `Warning` header should follow the following template:

> `Warning: 299 pilosa/<pilosa-version> "<Deprecation message>" "<date (RFC7231, Section 7.1.1.1)>"`

For example:

> `Warning: 299 pilosa/2.0 "Deprecated PQL version: PQL v2 will remove support for SetBit() in Pilosa 2.1. Please update your client to support Set() (See https://docs.pilosa.com/pql#versioning)." "Sat, 25 Aug 2017 23:34:45 GMT"`

After the deprecation period, the server should reply with an `HTTP 400` error, with the deprecation message in the response body.
